body{
    background-color: black;
}
#container{
   margin: 10rem;
   padding: 30px 10rem;
   background-color: white;
}
#center{
    text-align: center;
}
#left{
    text-align: left;
}
#right{
    text-align: right;
}
#red{
    color: red;
}